/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; 
    
}
.mancha-superior,
.mancha-inferior {
    width: 100%;
    height: auto;
    fill: currentColor;
    position: fixed;
    left: 0;
    z-index: -1; 
}

.mancha-superior {
    top: 0;
}

.mancha-inferior {
    bottom: 0;
}


.formulario-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.campo-formulario {
    margin-bottom: 20px;
}

.campo-formulario label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.campo-formulario input[type="text"],
.campo-formulario input[type="number"],
.campo-formulario input[type="email"],
.campo-formulario select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #eff1fd88;
}

.campo-formulario input[type="radio"] {
    margin-right: 5px;
}

.campo-formulario label {
    display: inline-block;
    margin-right: 10px;
}

/* Estilos para el botón de envío del formulario */
.campo-formulario input[type="submit"] {
    background-color: #007bff; /* Cambia el color del botón según tu preferencia */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.campo-formulario input[type="submit"]:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse sobre el botón */
}

.btn-regresar {
    position: absolute; /* Fija el botón en la pantalla */
    top: 20px; /* Distancia desde la parte superior de la pantalla */
    left: 20px; /* Distancia desde el lado izquierdo de la pantalla */
    background-color: #aeefff; /* Color rosado pastel claro */
    padding: 10px 20px; /* Ajusta el espacio dentro del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño del texto */
    text-decoration: none; /* Sin subrayado */
    color: white; /* Color del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
}
  
  /* Estilo cuando el cursor pasa sobre el botón */
.btn-regresar:hover {
    background-color: #8ad3fd; /* Cambia el color de fondo al pasar el cursor */
    color: #fff; /* Cambia el color del texto al pasar el cursor */
}

