#form-obstétricos #desplegarEmbarazosPrevios {
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    padding: 10px 0;
    text-align: center;
    border: 2px solid #0000001a;
    background-color: #00000003;
    border-radius: 10px;
}

#form-obstétricos #desplegarAbortos, #form-obstétricos #desplegarPartos {
    padding: 20px;
    background-color:#00000004;
    border-radius: 10px;
    
}

#form-obstétricos #abortosDesplegado .campo-formulario, #form-obstétricos #partosDesplegado .campo-formulario {
    padding: 0px 15px;
}

#form-obstétricos .campo-formulario p{
    font-size:larger;
}

