#form-ginecologicos #desplegarFalloMetodoAnticonceptivo {
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    padding: 10px 0;
    text-align: center;
    border: 2px solid #0000001a;
    background-color: #00000003;
    border-radius: 10px;
}

#form-ginecologicos #desplegarAbortos, #form-ginecologicos #desplegarPartos {
    padding: 20px;
    background-color:#00000004;
    border-radius: 10px;
    
}

#form-ginecologicos #abortosDesplegado .campo-formulario, #form-ginecologicos #partosDesplegado .campo-formulario {
    padding: 0px 15px;
}

#form-ginecologicos .campo-formulario p{
    font-size:larger;
}


#form-ginecologicos td {
    text-align: left;
    padding-left: 20px;
}

#form-ginecologicos  td:not(.respuesta-checkbox){
    padding: 20px 0 20px 20px;
}


