


#form-antecedentes .nombre-antecedente{
    text-align: left;
}

#form-antecedentes .tipo-antecedente{
    text-align: end;
}


table {
    width: 100%;
    
    border-collapse: collapse;
    
}


td:not(.respuesta-checkbox){
    padding: 20px 0px;
}

th{
    padding-bottom: 20px;
}

.campo-formulario .respuesta-checkbox {
    text-align: center;
}



#form-antecedentes .campo-formulario .tipo-antecedente {
    text-align: center;
}

#form-antecedentes .campo-formulario select{
    background-color: white;
    text-align:center;
    width:fit-content;

}

