/* Estos estilos son los generales (son los estilos para la
   manchita rosada y azul    */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
    font-family: "Outfit", sans-serif;
    
}
.mancha-superior{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.mancha-inferior{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* Estilo para los campos de entrada */
input[type="text"] {
    background-color: #d3d3d3;
    padding: 5px;
    transition: background-color 0.3s ease;
}

/* Estilo para los campos de entrada cuando están enfocados */
input[type="text"]:focus {
    background-color: #d2eff9; 
}

